.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 108px;

  & + .post {
    margin-top: 50px;
  }
}

.title {
  color: #F8F8F8;
  font-weight: 700;
  font-size: 28px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.subtitle {
  color: #D7D7D7;
  font-weight: 400;
  font-size: 18px;
}

.button {
  margin-top: 66px;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #FF57B2;
  font-weight: 600;
  font-size: 18px;
}
